<style>
  .section-header_collection {
    display: flex
  }
</style>

<section class="section-header_collection" data-section-id="{{ section.id }}">
  <div class="wrapper">
    <div class="section-header_collection-filter">
      <ul class="section-header_collection-ul">
        {% for block in section.blocks %}
          <li class="section-header_collection-li" data-id="{{ block.settings.collection }}">
            {{ block.settings.collection | capitalize }}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="section-header_collection-list_producstios">
      {% for block in section.blocks %}
        <div class="section-header_collection-list-producs-row" data-id="{{ block.settings.collection }}">
          {% for product in collections[block.settings.collection].producsts limit: 5 %}
            <div class="section-header_collection-list-product_card">
              <img src="{{ product.featured_image.src | img_url }}" alt="{{ product.featured_image.alt }}">
              <h3>{{ product.title }}</h3>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Header Collection",
    "max_blocks": 6,
    "blocks": [
      {
        "type": "collections",
        "name": {
          "pt-BR": "Coleção",
          "en": "Collection"
        },
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Coleção"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "titulo",
        "default": "Header Collection"
      }
    ],
    "presets": [
      {
        "name": {
          "pt-BR": "Header Collection",
          "en": "Header Collection"
        },
        "category": {}
      }
    ]

  }
{% endschema %}