<style>
  .section-header_collection-wrapper {
    position: relative;
  }

  .section-header_collection-ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .section-header_collection-li {
    margin: 2rem;
    display: block;
    position: relative;
  }

  .section-header_collection-li a {
    text-decoration: none;
  }

  .section-header_collection-product-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100vw;
    min-width: 100%;
    z-index: 1000;
    background-color: #fff;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
  }

  .section-header_collection-li:hover {
    text-decoration: underline;
  }

  /* Adicione a classe ao novo elemento <div> */
  .section-header_collection-list-product {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .section-header_collection-list-product_card {
    display: flex;
    flex-direction: column;
    height: 5rem;
    width: 5rem;
    margin: 1rem;
    background-color: #fff;
  }

  .section-header_collection-list-product_card img {
    max-width: 5rem;
    height: auto;
  }
</style>

<section class="section-header_collection" data-section-id="{{ section.id }}">
  <div class="section-header_collection-wrapper">
    <ul class="section-header_collection-ul">
      {% for block in section.blocks %}
        <li class="section-header_collection-li" data-id="{{ block.settings.collection }}">
          <a href="#">{{ block.settings.collection | capitalize }}</a>
        </li>
      {% endfor %}
    </ul>

    {% for block in section.blocks %}
      <div class="section-header_collection-list-product" data-id="{{ block.settings.collection }}">
        {% for product in collections[block.settings.collection].products limit: 5 %}
          <div class="section-header_collection-list-product_card">
            <img src="{{ product.images[0] | img_url }}" alt="{{ product.featured_image.alt }}">
            <a href="{{ product.url }}">{{ product.title }}</a>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>

<script>
  const productDropdowns = document.querySelectorAll('.section-header_collection-list-product');

  document.querySelectorAll('.section-header_collection-li').forEach(li => {
    li.addEventListener('click', () => {
      const id = li.dataset.id;
      productDropdowns.forEach(dropdown => {
        if (dropdown.dataset.id === id) {
          dropdown.style.display = 'flex';
        } else {
          dropdown.style.display = 'none';
        }
      });
    });
  });

  productDropdowns.forEach(dropdown => {
    const li = dropdown.parentNode;
    li.addEventListener('mouseleave', () => {
      dropdown.style.display = 'none';
    });
  });
</script>


{% schema %}
  {
    "name": "Header Collection",
    "max_blocks": 6,
    "blocks": [
      {
        "type": "collections",
        "name": {
          "pt-BR": "Coleção",
          "en": "Collection"
        },
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Coleção"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "titulo",
        "default": "Header Collection"
      }
    ],
    "presets": [
      {
        "name": {
          "pt-BR": "Header Collection",
          "en": "Header Collection"
        },
        "category": {}
      }
    ]

  }
{% endschema %}